body {
    background: var(--color);
  }
  
  label {
    font-size: 15px;
    display: grid;
    gap: .5rem;
    place-items: center;
  }
  
  input[type="color"] {
    height: 50px;
    width: 50PX;
    border: 0;
    padding:0;
    font: inherit;
  }
  

  
  
  
  
  
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
  }